footer {
    background-color: var(--darkBlue);
}

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 180px;
    max-width: 1600px;
    height: 260px;
}

.footer_logo {
    margin-top: 80px;
}

.footer_contacts {
    margin-top: 30px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 3%;
    color: var(--lightGray);
}

#adress {
    color: white;
}

.logotext {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 3%;
    color: #2196F3;
    margin-left: 150px;
    float: left;    
    margin-top: 25px;
    margin-bottom: 24px;
    margin-left: 160px;
    margin-right: 100px;
}

.logotext-black{
    color: black;
}

.logotext-white {
    color: white;
}